.body-container{
    background-image: url(../images/fonod.svg);
}

.product-grid{
    background-color: #1250137a;
    display: flex;
    flex-wrap: wrap;
    align-content: center ;
    justify-content: center;
}