.ideferro-container{
    background-image: url("../images/fondolargo.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 625px;
    display: flex;
    max-width: 100%; 
    height: auto;
    justify-content: center;
    align-items: center;
    
}

.ideferro-image{
    display: flex;
    max-width: 100%; 
    height: auto;
}
